#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ingredientsButton {
  width: 50%;
  align-self: center;
  margin: 10px;
}

.recipeOption {
  margin: 2px;
}

img {
  width: 25vw;
  height: auto;
  align-items: center;
  margin: 0 auto;
}

/* .stepDiv {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-image {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.step {
  font-size: 16px;
  margin: 0;
  text-align: center;
} */